<!doctype html>
<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>The current <strong>server</strong> time is <em>{{moment-format (now) "MMMM Do, YYYY @ HH:mm:ss.SSSZ"}}</em></p>
  </body>
</html>
